# Ignore temporary files
*~
[#]*
*[#]

/*

# Keep meta files
!.gitignore
!README.md

# Track only data and source codes of latest version
!Divergence.py
!RealWorld
!Synthetic

# Track latex source code
!Paper
Paper/**/*.aux
Paper/**/*.log
Paper/**/*.out
Paper/**/*.bbl
Paper/**/*.blg

# Untrack abundoned data
/Synthetic/Centralized(*)
